body{
    background: #242B2E;
    font-family:Arial;
}
h1{
    position: absolute;
    top:-10;
    left:100;
    color:#8D3DAF;   
    
}
p{
    position: absolute;
    top:30px;
    left: 160;
    color:white;    
}

#head{
    position: absolute;
    left: 430;
    top:5px;
     
    border-bottom: 2px solid white ;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 0px 0px 10px 10px;
    height:70;
    width:480;
}

.mode{
    position: absolute;
    left:950px;
    top:20px;
    background-color:black;
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 50%;
    cursor: pointer;
    font-size: x-large; 
    padding-top: 0px;
}

.mode:hover{
    box-shadow: 0px 2px 10px 2px gray;
}

#light{
    visibility:hidden;
    color:#E8BD0D;
}

#dark{
    color: gray;
}
#menu{
    position: absolute;
    top: 70px;
    left:430px;
    
    width:484px;
    height:500px;
}
select{
    cursor: pointer;
}
#background_1{
    position:absolute;
    top:100px;
    left:739px;
    background-color:darkslategray;
    width:175px;
    height: 340px;
    border-radius: 10px;
    
}

#background_2{
    position:absolute;
    top:160px;
    left:429px;
    background-color:black;
    width:485px;
    height: 290px;
    border-radius: 10px;
    
}


#sub{
    margin-top: 10px;  
    margin-left: 10px;; 
    width: 150px;
    height: 40px;
    background-color: #d2691e;
    font-size:large;
    border: 1px solid chocolate;
    border-radius: 5px;
    margin: 0%;
}


option{
    background-color:slategray;
    color: black;
}

table{
    position:absolute;
    top:40px;
    left:6px;
    
    
}
#sub_cell{
    padding:0%;
    padding-left: 110px;
    
}

td{
    padding:10;
    
}

.unit{
    border:2px solid black;
    border-radius: 5px;
    background-color:#094059;
    color: white;
}

#fs{
    width: 150px;
    height: 40px;
    background-color: chocolate;
    font-size:large;
    border: 1px solid chocolate;
    border-radius: 5px;
}

#ts{
    width: 150px;
    height: 40px;
    background-color: chocolate;
    font-size:large;
    border: 1px solid chocolate;
    border-radius: 5px;
}

#blank{
    height:90;
}
#small_blank{
    height:20px;
}

.in{
    background: transparent;
    height:50;
    width: 250;
    border-bottom: 2px solid white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    color: white;
    font-size: medium;
    padding-right: 30px;
}
input:focus{
    outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#clear_input{
    position: absolute;
    top:96px;
    left:448px;
    color:orangered;
    font-weight: bold;
    background-color:transparent;
    border:none;
    cursor: pointer;
    font-size:medium;
}

#convert_button{
    position: absolute;
    top:440;
    left:180px;
    background-color:chocolate;
    cursor: pointer;
    width: 150;
    height:40;
    font-size: large;
    border-radius: 10px;
    border-width: 5px;
}
button:focus{
    outline: none;
}
#convert_button:hover{
    box-shadow: 0 2px 3px 0 #5C6464, 0 2px 3px 0 #5C6464;
}

#peace{
    color:green;
    font-size: large;
    
}
#footer{
    position: absolute;
    top: 595;
    left: 580;
    font-size:smaller;
}