body{
    background: #242B2E;
    font-family:Arial;
}
h1{
    position: absolute;
    top:-10;
    left:100;
    color:#8D3DAF;   
    
}
p{
    position: absolute;
    top:30px;
    left: 160;
    color:white;
    
    
}

#head{
    position: absolute;
    left: 430;
    top:5px;
     
    border-bottom: 2px solid white ;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 0px 0px 10px 10px;
    height:70;
    width:480;
}
.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 36px;
    left:920;
    top:10;
  }

  .switch input {
    position: relative;
    left:40;
    top:5;
    opacity: 1;
    width: 20;
    height: 20;
    
  }
  .slider.round {
    border-radius: 40px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  
  .slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border:2px solid chocolate;
    background-color:#242B2E;
    
    font-size:x-small;
    padding-left: 5px;
    padding-top: 11;
    padding-bottom: 10;
    color: white;
  }
  .slider.round:before {
    position: absolute;
    content: "";
    font-size:smaller;
    height: 26px;
    width: 26px;
    top:3px;
    left: 73px;
    bottom: 4px;
    background-color: #12B0E8;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider.round {
    background-color:#242B2E;
  }
  
  
  input:checked + .slider.round:before {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
  }
  

table{
    position:absolute;
    top:100;
    left:300;
}
td{
    padding:10;
}

#menu{
    position: absolute;
    top: 100px;
    left:430px;
    
    width:484px;
    height:500px;
}
select{
    cursor: pointer;
}

#sub{
    position: absolute;
    top: 5px;
    left:170px;
    width: 150px;
    height: 40px;
    background-color: #d2691e;
    font-size:large;
    border: 1px solid chocolate;
    border-radius: 5px;
}

table{
    position: absolute;
    top: 100px;
    left:20px;
    
}

.unit{
    border:2px solid black;
    border-radius: 5px;
    background-color:#094059;
    color: white;
}

#fs{
    width: 150px;
    height: 40px;
    background-color: chocolate;
    font-size:large;
    border: 1px solid chocolate;
    border-radius: 5px;
}

#ts{
    width: 150px;
    height: 40px;
    background-color: chocolate;
    font-size:large;
    border: 1px solid chocolate;
    border-radius: 5px;
}

#blank{
    height:70;
}

.in{
    background-color: #242B2E;
    height:50;
    width: 250;
    border-bottom: 2px solid white;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    color: white;
    font-size: medium;
}

button{
    position: absolute;
    top:400;
    left:180;
    background-color:chocolate;
    cursor: pointer;
    width: 150;
    height:40;
    padding:px;
    font-size: large;
    border-radius: 10px;
    border-width: 5px;
}
button:hover{
    box-shadow: 0 2px 3px 0 #5C6464, 0 2px 3px 0 #5C6464;
}

#love{
    color: #12B0E8;
}
#footer{
    position: absolute;
    top: 600;
    left: 580;
    font-size:smaller;
}